.confi-pagina {
    background-color: #222222;
    color:#F3F3F3;
}

.nav {
    background: #F0A83E;
    color: #FFFFFF;
}

.suscribete {
    background: #F0A83E;
    color:#F3F3F3;
}

.contact-us{
    background: #3C2313;
    color: #FFFFFF;
}

.copyright{
    background: #222222;
    color: #FFFFFF;
}