@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
    font-family: Roboto, sans-serif;
    margin: 0;
     
    /*padding: 0;*/
    /*box-sizing: border-box;*/
}

/*https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
html {
    box-sizing: border-box;
}
    
*, *:before, *:after {
box-sizing: inherit;
}

.header-container-top {
    align-items: center;
    display: flex;
    background-color: #222222;
    color: #F3F3F3;
    font-weight: 400;
    font-size: 10px;
    justify-content: space-between;
    height: 20px;
}

.header-container-top p {
    margin-left: 90px;
}

.header-lista {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}

.header-lista li {
    margin-inline-start: 20px;
}

.header-container-bottom {
    align-items: center;
    background-color: #F0A83E;
    display: flex;
    height: 62px; 
    justify-content:space-between;
}

.logo-base {
    color:white;
    font-size: 20px;
    font-weight: 700;
    line-height: 23,44;
    margin-left: 40px;
}

.logo {
    color: #3C2313;
    font-size: 20px;
    font-weight: 700;
    line-height: 23,44;
}

.nav-links {
    color: white;
    font-weight: 400;
    font-size: 13px;
    list-style: none;
    margin-right: 40px;
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links li {
    margin-inline-start: 20px;
    align-items: center;
    display: flex;
}

.slide {
    background-image: url("../img/bowl-and-pet-daities-on-green-background 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:409px;
    display: flex;
    justify-content: flex-end;
    
}

.slide-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 12px;
    margin-top: 156px;

}

.slide-title {
    background-color: white;
    border-radius: 5px;
    color: #3C2313;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    width: fit-content;
    margin-bottom: 12px;
}

.slide-p {
    color: #3C2313;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: fit-content;
    margin-bottom: 12px;
}

.slide-button {
    background: #F0A83E;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-right: 23px;
    padding-left: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.articles-header {
    color: #3C2313;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.articles-header p, a {
    color: #666666;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.articles-header h2 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.articles {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    justify-content:space-between;
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 49px;
    margin-bottom: 78px;
    text-align: center;
}

.articles h3 {
    color: #3C2313;
}

.articles p {
    color: #F0A83E;
}




.suscribete {
    background: #F0A83E;
    color:#F3F3F3;
}

.contact-us{
    background: #3C2313;
    color: #FFFFFF;
}

.copyright{
    background: #222222;
    color: #FFFFFF;
}